<div class="py-3 border-top">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <a href="https://www.quirinale.it/" target="_blank">
                    <img src="{{ 'assets/images/trademark/repubblica_italiana.png' | relative_url }}"
                         height="75"></a>
            </div>
            <div class="col-sm">
                <a href="https://www.regione.sardegna.it" target="_blank">
                    <img src="{{ 'assets/images/trademark/regione_sardegna.png' | relative_url }}"
                         height="75"></a>
            </div>
            <div class="col-sm">
                <a href="http://www.sardegnaprogrammazione.it/index.php?xsl=1384&s=278013&v=2&c=12950"
                   target="_blank"><img src="{{ 'assets/images/trademark/por.png' | relative_url }}"
                                        height="75"></a>
            </div>
            <div class="col-sm">
                <a href="http://www.sardegnaricerche.it" target="_blank">
                    <img src="{{ 'assets/images/trademark/sardegna_ricerche.png' | relative_url }}"
                         height="75"></a>
            </div>
            <div class="col-sm">
                <a href="https://www.crs4.it/">
                    <img src="{{ 'assets/images/trademark/crs4.png' | relative_url }}"
                         height="75"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>