<table>
    <tr>
        <td width="70%">
            <table>
                <tr>
                    <td><a href="{{ '/' | relative_url }}">Home</a></td>
                    <td><a href="{{ 'pages/progetto.html' | relative_url }}">Progetto</a></td>
                    <td><a href="{{ 'pages/cluster.html' | relative_url }}">Cluster</a></td>
                    <td><a href="{{ 'pages/risultati.html' | relative_url }}">Prodotti & Risultati</a></td>
                    <td><a href="{{ 'pages/news.html' | relative_url }}">News & Eventi</a></td>
<!--                    <td><a href="{{ 'pages/team.html' | relative_url }}">Team</a></td>-->
                </tr>
            </table>
        </td>
        <td width="30%">
            &nbsp;
        </td>
    </tr>
</table>